@{
    ViewData["Title"] = "Species Page";
}

<h2 class="text-center mt-3">Marine Species</h2>


<div class="card-container">
    <div class="card">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSa4fm7mX73xw6h9llwlpuykiCpAiOCC8pKPTKQvpREVZlUMKjs" />
        <div class="card-content">
            <h3>Scissortail Sergeant</h3>
            <p>belongs to the family of damselfish, and they get their name from the black lines that extend across the superior and inferior lobes of their tails. </p>
            <a href="@Url.Action("Scissortail","Home")" class="btn">Read More...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Acanthuridae_-_Acanthurus_achilles.JPG" />
        <div class="card-content">
            <h3>Achilles Tang</h3>
            <p>a marine ray-finned fish belonging to the family Acanthuridae, the surgeonfishes, unicornfishes and tangs. This fish is found in the Pacific Ocean.</p>
            <a href="@Url.Action("Achilles","Home")" class="btn">Read More...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://churaumi.okinawa/userfiles/fish_images/shinkaigyo/oogutiisitibiki-resize.jpg" />
        <div class="card-content">
            <h3>Rusty Jobfish</h3>
            <p>is an elongate species with a large lunate tail. It has a large mouth with a protruding lower jaw and minute teeth.</p>
            <a href="@Url.Action("Rusty","Home")" class="btn">Read More...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://live.staticflickr.com/7568/15832251948_c585acbfbf_b.jpg" />
        <div class="card-content">
            <h3>Grey's Spinner Dolphins</h3>
            <p>are well known for their habit of leaping from the water and spinning up to seven times in the air before falling back into the water.</p>
            <a href="@Url.Action("Grey","Home")" class="btn">Read More...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://images.squarespace-cdn.com/content/v1/56ba0e5d60b5e9e762f6eacf/1553386510253-4XY6365QV58INO3U9ASA/Cerchio_ThrillerWhales_copyright.jpg" />
        <div class="card-content">
            <h3>Omura's Whale</h3>
            <p>Omura's whales have been heard singing at low frequencies for up to 12 hours without a pause. </p>
            <a href="@Url.Action("Omura","Home")" class="btn">Read More...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://media.australian.museum/media/dd/images/Some_image.width-800.de3f34a.jpg" />
        <div class="card-content">
            <h3>Common Bottlenose Dolphin</h3>
            <p>The common bottlenose dolphin is a very familiar dolphin due to the wide exposure it receives in human care in marine parks and dolphinariums, and in movies and television programs. </p>
            <a href="@Url.Action("Bottlenose","Home")" class="btn">Read More...</a>
        </div>
    </div>
</div>



